body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url("./assets/images/checkered.png");
}

.nav {
  background: paleturquoise;
}

.jumbotron {
  background: white;
}

h1,
h2,
h3 {
  color: blue;
}

button {
  background: blue;
  color: white;
}